  {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  }

  .hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000
}

form{
background: #fff;
width: 650px;
padding: 20px;
font: 18px
}

.message-icon{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.message-icon i{
font-size: 35px;
}

.message-icon span{
    font-size: 18px;
    font-weight: bold;
    margin-left: 16px;
}

form input, textarea{
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #000;
    outline: none;

}
#input-field{
    padding-bottom: 23px;
    display: flex;
    align-items: center;
}

#input-field i{
    font-size: 23px;
    margin-right: 12px;
}

.send btn{
    width: 100px;
    border: none;
    background: #000;
    color: #fff;
    font-size: 15px;
    padding: 6px 0;
    border-radius: 50px;
}